<!doctype html>
<html>
  <head>
    <title>To Do List</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
  <script src="../assets/todo-list.js"></script>
  <link href="/assets/styles.css"rel ="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>My Todo List</h1>
    <div id="todo-table">
      <form id="add-item-form">
        <input id="add-item-textbox" type="text" name="item" placeholder="Add new item..." required />
        <button type="submit">Add Item</button><br>
       </form>
       <form id="edit-item-form" style="display:none">
         <input id="edit-item-textbox" type="text" name="item" placeholder="Edit item..." required />
         <button type="submit">Update Item</button><br>
         <button id="cancel-edit-button" type="submit">Cancel</button><br>
        </form>
       <div class="todo-list">
         <ul>
           <% for (var i=0; i < todos.length; i++){ %>
            <div class='todo-item'>
             <input type="checkbox" value="1" />
             <!--Use i to create id, pass item[i] in -->
               <span id=i onClick="editItem(item[i])" class="strikeable to-do-item">
               <li><%= todos[i].item %></li>
               </span>
               <span><a class="edit-link" href=<%= "#edit/"+ i %> >edit</a></span><br>
            </div>
           <% } %>
           </ul>
       </div>
     </div>

     <script>
      // When I click on to-do-item span,
      //function editItem(var task){


    //  }
        // Hide the span
        // Add an input box, filled with the current text
        // Add a button to submit
        //const input = $( '<input />' )
        //$( '.to-do-item' ).append( input )
        // When I click on button
          // Replace the span contents with input contents
          // Send request to server to update item
          // Remove input and button
          // Show span
     </script>
  </body>
</html>
